* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #212121;
}

.content {
  width: 190px;
  height: 254px;
  background: #07182E;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.content h2 {
  z-index: 1;
  color: white;
  font-size: 2em;
}

.content::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48,255));
  height: 130%;
  animation: animate 4s linear infinite;
  transition: all 0.3s linear;
}

.content::after {
  content: '';
  position: absolute;
  background-color: #07182E;
  inset: 5px;
  border-radius: 15px;
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}