body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #212121;
}

.container-input {
  position: relative;
}

.input {
  width: 200px;
  padding: 20px 0px 20px 40px;
  border-radius: 9999px;
  border: 1px solid #333;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 12%;
  left: 10px;
  transform: translate(0, 50%);
}

.input:focus {
  opacity: 1;
  width: 300px;
}