body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: #e8e8e8;
}

.form {
  display: grid;
  place-items: center;
  position: relative;
  width: 300px;
  height: 472px;
  padding: 25px;
  background-color: #161616;
  border-radius: 10px;
}

.form-body {
  position: absolute;
  top: 50%;
  right: 25px;
  left: 25px;
  width: 230px;
  margin: -156px auto 0 auto;
}

.spotify-text {
  text-align: center;
  line-height: 1;
}

.spotify-text-1 {
  color: #00ff7f;
  font-weight: 600;
  font-size: 40px;
}

.spotify-text-2 {
  color: #ffffff;
  font-size: 18px;
  margin-top: 17px;
}

.input-area {
  margin-top: 40px;
}

.form-inp{
  padding: 11px 25px;
  background: transparent;
  border: 1px solid #e3e3e3;
  line-height: 1;
  border-radius: 8px;
}

.form-inp:focus {
  border: 1px solid #00ff7f;
}

.form-inp:first-child {
  margin-bottom: 15px;
}

.form-inp input {
  width: 100%;
  background: none;
  font-size: 13.4px;
  color: #00ff7f;
  border: none;
  padding: 0;
  margin: 0;
}

.form-inp input:focus {
  outline: none;
}

.login-btn {
  margin-top: 20px;
}

.submit-btn {
  display: block;
  width: 100%;
  color: #00ff7f;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  padding: 14px 13px 12px 13px;
  border: 0;
  outline: 1px solid #00ff7f;
  border-radius: 8px;
  line-height: 1;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.submit-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #00ff7f;
  color: #161616;
  cursor: pointer;
}

.password {
  text-align: center;
  margin-top: 10px;
}

.password a {
  color: #868686;
  font-size: 12px;
  text-decoration: none;
}

.bar {
  position: absolute;
  left: 50%;
  bottom: -22%;
  width: 28px;
  height: 8px;
  margin-left: -33px;
  background-color: #00ff7f;
  border-radius: 10px;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ececec;
  border-radius: 50%;
}

.bar:before {
  right: -20px;
}

.bar:after {
  right: -38px;
}